# Операционная система
*.DS_Store
*.log
*.pot
*.swp
*~

# Конфиденциальные файлы
.env
*.env

# Игнорирование кэша Python и скомпилированных файлов
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Папки виртуального окружения
venv/
.Python

# IDE
.idea/
.vscode/

# Django
# staticfiles/
# media/

# Миграции
**/migrations/*.py
!**/migrations/__init__.py

# Docker
# docker-compose.override.yml
*.pid
